.sidebar .name-logo {
	width: 50%;
}

.mark-autofocus {
	background-color: #ffcc99;
}
.mark-aps {
	background-color: #ddaaff;
}
.mark-compur {
	background-color: #ff8888;
}
.mark-nikomat {
	background-color: #99ff99;
}